<template>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Users</div>
            <div class="card-body">
                <div class="users">
                    <a href="#">Test User</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "UserComponent"
    }
</script>

<style scoped>
    .users {
        background-color: #fff;
        border-radius: 3px;
    }
</style>